@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Meow+Script&family=Oooh+Baby&family=Pacifico&display=swap');


:root {
  --Poppins: 'Poppins', 'Avenir', 'Open Sans', sans-serif;
  --Cursive: 'Pacifico', cursive, serif;
  --meow: 'Meow Script', cursive, serif;
  --freddy: 'Fredericka the Great', cursive, serif;
  --blue: #31cfff;
  --rose: #d8818bfa;
  --sapphire: #1a3982;
  --mint: #9dfcff;
  --white: whitesmoke;

/* new palette */
  --cerulean: #0081a7ff;
  --non-photo-blue: #a4dded;
  --seashell: #fff5eeff;
  --almond: #efdecdff;
  --amaranth-purple: #ab274fff;
  --translucent:  rgb(164, 221, 237, 40%);

  /* --border: 1px solid black; */
}


* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: var(--Poppins);
  font-weight: 200;
  margin: 0 10vw 5vw;
  background-image: url(../images/skybg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-size: 100%; */
  background-position: 50%;
  background-attachment: fixed;
  display: flex;
  flex-direction: column; 
  min-height: 100%;
}

/* To display header title on top of nav bar links: */
.main-header {
  display: block;
  text-align: center;
  animation: slideInTop 0.5s ease;
  animation-fill-mode: forwards;
  transform: translateY(-100%);
}

#kat {
  color: var(--non-photo-blue);
  text-shadow: 2px 2px 5px var(--cerulean);
}

/* To display nav links side-by-side and centered (flex): */
nav {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-bottom: 1vh;
  font-family: var(--Poppins);
  /* border-bottom: dotted 2px var(--cerulean); */
}

nav p {
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0 1vw;
}

nav p :hover {
  /* border: dotted var(--cerulean); 
  border-radius: 10px; */
  cursor:pointer;
  text-shadow: 1px 1px 1px #679dbcc5;
  font-size: 1.75rem;
  /* scale: 125%; */
}

.link {
  text-decoration: none;
  color: var(--seashell);
  text-shadow: 2px 2px 5px var(--sapphire);
  padding: 10px;
}

.homepg-link {
  text-decoration: underline 1px var(--amaranth-purple);
  text-underline-offset: 1vh;
  padding: 20px;
  font-family: var(--Cursive);
  color: var(--seashell);
  font-size: 2rem;
}

/* .homepg-link :hover {
  font-size: 2.25rem;
} */

h1 {
  font-family: var(--Cursive);
  font-size: 1.75rem;
  color: var(--cerulean);
  margin: 0 auto;
}

#nav-head :hover {
  text-shadow: 5px 5px 5px var(--amaranth-purple);
}

#nav-head {
  font-size: 3rem;
  text-shadow: 2px 2px 5px var(--non-photo-blue);
  margin: 2vh 0;
}

#hello-1 {
  font-size: 6rem;
  color: var(--amaranth-purple);
  margin: 0 10% auto;
  animation: fadeIn 2s;
  animation: wiggle 1s;
}

.hello p {
  font-size: 1.5rem;
  margin-bottom: 5vh;
  /* animation: fadeIn 3s; */
}

/* .hello p :hover {
  font-size: 2.25rem;
} */

@keyframes slideInTop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

#lead {
  font-size: 2.25rem;
  font-family: var(--Cursive);
  color: var(--cerulean);
  animation: ease-in 1s;
  /* text-shadow: 2px 2px 3px var(--seashell); */
}

@keyframes ease-in {
  0% {opacity: 0};
  50% {opacity: 25%};
  100% {opacity: 100%};
}

#instructions {
  /* font-size: 1.5rem; */
  /* font-weight: 300; */
  color: var(--seashell);
  text-shadow: 2px 2px 3px var(--cerulean);
}

#instructions :hover {
  font-size: 2.5rem;
  color: var(--amaranth-purple);
  text-decoration: underline 2px var(--seashell);
}

main {
  /* display: flex;
  flex-wrap: wrap;
  margin-top: 2%; */
  align-items: center;
  text-align: center;
  flex: 1 0 auto;
}

.centered {
  flex-wrap: wrap;
  /* flex: 1 0 200px; */
  justify-content: center;
  text-align: center;
  margin: 0 25% auto;
  margin-bottom: 15vh;
  /* position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  /* background-image: url(../images/cardbg.jpg);
  background-position: 100%; */
  /* backdrop-filter: blur(50px);
  opacity: 0.5; */
  border: 3px var(--cerulean) dotted;
  border-radius: 20px;
  padding: 2.5%;
  /* margin-bottom: 15vh; */
  /* margin-right: 10%; */
  animation: fadeIn 2s;
  /* transform: scale 2s; */
  background-color: var(--translucent);
  box-shadow: 0px 10px 15px 0px var(--cerulean);
;
}

/* .centered :hover {
  scale: 125%;
} */

/* @keyframes scale {
  0% {scale: 75%}
  100% {scale: 100%};
} */

h2 {
  font-family: 'Oooh Baby', cursive, serif;
  font-size: 6rem;
  color: var(--amaranth-purple);
  margin: 0 auto;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1};
}

.about-me {
  color: var(--cerulean);
  margin: 2vh 15vw;
  padding-bottom: 1vh;
  animation: fadeIn 1s;
}

#about-head {
  font-family: var(--Cursive);
  font-size: 3rem;
  color: var(--cerulean);
  text-shadow: 1px 1px 5px var(--seashell);
  margin: 1vh;
  padding: 1vh;
}

#photo {
  border: 4px var(--sapphire) dotted;
  border-radius: 180px;
  width: 150px;
  height: 150px;
  /* animation: fadeIn 8s; */
}


.about-me p {
  /* border: 4px dotted var(--cerulean); */
  font-family: var(--Poppins);
  font-size: 1.25rem;
  /* font-weight: 300; */
  color: var(--seashell);
  text-shadow: 2px 2px 10px black;
  text-align: justify;
  /* padding-bottom: 10px; */
  padding: 3vw;
  background-color: var(--translucent);
  box-shadow: 0px 10px 15px 0px var(--cerulean);
  border: 3px var(--cerulean) dotted;
  border-radius: 20px;
  padding: 2.5%;
}

#accent {
  color: var(--non-photo-blue);
  font-weight: 300;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  object-fit: contain;
  /* border: 1px solid black; */
}

/* This is to force items in the flex container to the next line for aesthetic purposes */
.break {
  flex-basis: 100%;
  height: 0;
}

.break p {
  margin-top: 0;
  margin-bottom: 5%;
  padding-bottom: 5%;
}

h4 {
  font-family: var(--Cursive);
  font-size: 3rem;
  color: var(--cerulean);
  text-shadow: 1px 1px 5px var(--seashell);
  margin: 1vh;
  padding: 1vh;
  text-decoration: none;
  font-style: normal;
  margin: 20px 0;
  animation: fadeIn 1s;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  position: relative;
  animation: fadeIn 1s;
}

.projects {
  flex: 1 0 200px;
  margin: 10px;
  position: relative;
}

.project-img {
  max-width: 30vw;
  height: auto;
  padding: 2%;
  border: var(--non-photo-blue) 4px dotted;
}

.card-header a {
  text-decoration: none;
  color: var(--cerulean);
}

.card-header {
  font-size: 1.75rem;
  /* font-family: var(--Cursive); */
  /* font-style: italic; */
  color: var(--cerulean);
  /* text-shadow: 2px 2px 1px var(--seashell); */
  text-align: center;
  /* padding: 10vh 0; */
  position: absolute;
  /* text-decoration-line: underline; */
  text-decoration: overline underline;
  text-underline-offset: 10px;
  /* top: 0; */
  bottom: 50px;
  width: 100%;
  height: 15%;
  /* padding: 10px; */
  /* border: 2px solid black; */
}

#yoda-header {
  color: var(--seashell);
  text-shadow: 2px 2px 1px var(--cerulean);
  top: 50%;
}

.card-header :hover {
  scale: 115%;
}

.contact-me {
  /* margin: 20px 0; */
  margin: 0 auto;
  /* padding-top: 0px; */
}

h5 {
  font-family: var(--Cursive);
  font-size: 2.5rem;
  color: var(--non-photo-blue);
  margin: 20px auto;
  text-shadow: 2px 2px 5px var(--amaranth-purple);
}

.contact-me p {
  font-size: 1rem;
  color: var(--seashell);
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
  text-shadow: 2px 1px 5px var(--sapphire);
}

#made-by {
  color: var(--non-photo-blue);
  /* font-family: var(--meow); */
  font-family: var(--Cursive);
  font-size: 1.25rem;
  text-align: center;
  text-decoration: overline 2px var(--cerulean);
  margin-bottom: 5vh;
  /* text-shadow: 1px 1px 5px var(--sapphire); */
}

#heart {
  color: var(--amaranth-purple);
  text-shadow: 1px 1px 5px var(--seashell);
  /* scale: 120%; */
}

#connect {
  color: var(--non-photo-blue);
  font-weight: 300;
  font-size: .95rem;
  font-style: italic;
  /* text-shadow: 1px 1px 5px var(--seashell); */
}

#icons {
  transform: scale(175%);
  margin: 1vh;
  padding: 2vh;
}

#github {
  padding: 0 0.75vw;
  min-width: 15px;
  min-height: 15px;
}

#linkedin {
  padding: 0 0.75vw;
  min-width: 15px;
  min-height: 15px;
}

svg {
  fill: var(--non-photo-blue);
}

#github :hover {
  animation: wiggle .5s ease-out;
  animation-iteration-count: 1;
  padding: 0;
  margin: 0;
  fill: var(--seashell);
  scale: 115%;
  min-width: 30px;
  min-height: 30px;
  max-width: 100px;
  max-height: 100px;
}

#linkedin :hover {
  animation: wiggle .5s ease-out;
  animation-iteration-count: 1;
  padding: 0;
  margin: 0;
  fill: var(--seashell);
  scale: 115%;
  min-width: 30px;
  min-height: 30px;
  max-width: 100px;
  max-height: 100px;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50%{
    transform: rotate(-5deg);
  }
  75%{
    transform: rotate(3deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

footer {
  text-align: center;
  text-shadow: 2px 2px 1px #679dbcc5;
  margin: 0 auto;
  /* padding-top: 15vh; */
  /* position: fixed;
  left: 0;
  bottom: 0; */
  flex-shrink: 0;
  width: 100%;
  animation: slideInBottom .5s ease-out;
  animation-fill-mode: forwards;
  transform: translateY(100%)
}

@keyframes slideInBottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
  
}

@media (max-width: 600px) {
  .projects {
    flex-basis: 100%;
  }

  .card-header {
    scale: 75%;
    font-weight: 300;
    text-shadow: 2px 2px 2px black;
  }

  /* main {
    scale: 75%;
  } */

  .icons {
    scale: 75%;
  }

  .main-header {
    scale: 85%;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  nav {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  nav p {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .link {
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 1.75rem;
    text-decoration: underline 1px var(--cerulean);
    text-underline-offset: 1vh;
  }

  .about-me {
    scale: 85%;
    margin-top: 0;
    padding-top: 0;
    /* position: absolute; */
    /* top: 50px;  */
  }

  #about-head {
    margin-top: 0;
    padding-top: 0;
  }

  .hello {
    scale: 75%;
  }

  .centered {
    /* scale: 90%; */
    position: absolute;
    top: 25vh;
    padding: 4vh;
  }

  footer {
    position: absolute;
    bottom: 0;
  }

}

/* @media (min-width: 600px) {
  * {
    scale: 100%;
  }
} */