@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Meow+Script&family=Oooh+Baby&family=Pacifico&display=swap');

/* import tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS HEX */
/* palette */
:root {
    --cerulean: #0081a7ff;
    --non-photo-blue: #a4ddedff;
    --seashell: #fff5eeff;
    --almond: #efdecdff;
    --amaranth-purple: #ab274fff;
}




/* SCSS RGB */
/* $cerulean: rgba(0, 129, 167, 1);
$non-photo-blue: rgba(164, 221, 237, 1);
$seashell: rgba(255, 245, 238, 1);
$almond: rgba(239, 222, 205, 1);
$amaranth-purple: rgba(171, 39, 79, 1); */

/* SCSS Gradient */
/* $gradient-top: linear-gradient(0deg, #0081a7ff, #a4ddedff, #fff5eeff, #efdecdff, #ab274fff);
$gradient-right: linear-gradient(90deg, #0081a7ff, #a4ddedff, #fff5eeff, #efdecdff, #ab274fff);
$gradient-bottom: linear-gradient(180deg, #0081a7ff, #a4ddedff, #fff5eeff, #efdecdff, #ab274fff);
$gradient-left: linear-gradient(270deg, #0081a7ff, #a4ddedff, #fff5eeff, #efdecdff, #ab274fff);
$gradient-top-right: linear-gradient(45deg, #0081a7ff, #a4ddedff, #fff5eeff, #efdecdff, #ab274fff);
$gradient-bottom-right: linear-gradient(135deg, #0081a7ff, #a4ddedff, #fff5eeff, #efdecdff, #ab274fff);
$gradient-top-left: linear-gradient(225deg, #0081a7ff, #a4ddedff, #fff5eeff, #efdecdff, #ab274fff);
$gradient-bottom-left: linear-gradient(315deg, #0081a7ff, #a4ddedff, #fff5eeff, #efdecdff, #ab274fff);
$gradient-radial: radial-gradient(#0081a7ff, #a4ddedff, #fff5eeff, #efdecdff, #ab274fff); */